@charset "EUC-KR";

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding&display=swap');
#pay_page{
    padding: 30px;
    width: 900px;
    background-color: white;
    margin: 80px auto;
    border-radius: 20px;
}
#pay_page > div{
    margin: 50px 90px;
    text-align: center;
}
#pay_page div ul{
    list-style: none;
    padding-left: 0;
}
#payname{
    font-size: 35px;
    font-family: 'Jua', sans-serif;
    margin-bottom: 30px;
}
.topbor{
	width: 100%;
	border-top:2px solid;
}

#payset li{
    margin-bottom: 20px;
    font-family: 'Nanum Gothic Coding', monospace;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
#payset li:first-child{
	font-weight: bold;
	background-color: #eee;
	margin-bottom:0px;
}
#payset li:not(:first-child){
	height: 160px;
}
.pay_info{
	padding:5px;
	width: 400px;
	text-align: center;
}
.pay_info img{
	width:100px;
	height: 150px;
	margin-right:20px;
}
.pay_num{
	padding:5px;
	width:150px;
	text-align: center;
}

.action_button{
    padding: 5px;
    width: 117px;
    height: 50px;
    margin-top: 10px;
    font-weight: bold;
    border: 0;
    border-radius: 20px;
}